 <h2 class="page-header">{{user.name}} <span style="color: blue">(@{{user.username}})</span></h2>
<div style="margin-left: 30%">
 <img class="profilestyle" src="/upload/{{user.userImage}}" alt="{{user.userImage}}" >
 <form action="/" enctype="multipart/form-data" method="post" style="margin-top: 10px">
 <label class="custombutton" id="custombutton" style="width:200px;border: 1px solid #ccc;display: inline-block; padding: 6px 12px;cursor: pointer;">
 <input type="file" name="upload" accept="image/*" style=" display: none;" onchange="document.getElementById('custombutton').style.border = '2px solid lightgreen'">
 Select new file 
 </label>
 <input type="submit" value="Upload" style="border: 1px solid #2d2d2d ; padding: 6px 12px; cursor: pointer; background-color: #2d2d2d; color: #ccc">
 </form>
</div>
<div style="text-align: center;">
	<h3 style="background-color: whitesmoke; padding: 10px; border-radius: 5px; border: 1px solid lightgray">My Friends</h3>
	{{#each user.friendsList}}
	<p>
		{{this.friendName}}
	</p>
	{{/each}}
</div>